<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <h1 class="h1 mb-pf-md my-pf-lg">Headings</h1>
        <p>For consistent typography throughout, we created heading helper classes. <code>.h1, .h2, .h3, .h4</code> will achieve the following weights and sizes. Any class can be applied to any heading to get the desired appearance while maintaining semantic consistency.</p>
        <h1 class="h1 mb-pf-md">Heading level 1</h1>
        <h2 class="h2 mb-pf-md">Heading level 2</h2>
        <h3 class="h3 mb-pf-md">Heading level 3</h3>
        <h4 class="h4 mb-pf-md">Heading level 4</h4>
        <p>All headings have margins removed. In order to apply margins please refer to Bootstrap documentation on spacing utility classes.</p>
    </div>
  </div>
</div>
