<div class="container-fluid">

  <header class="row pf-masthead justify-content-between align-items-stretch">
    <div class="col-auto d-flex pf-masthead__section align-items-stretch">
      <a class="pf-masthead__skip align-items-center d-flex" href="#main">Skip to main content</a>
      <div class="pf-masthead__navicon align-self-center hidden-md-up">
        <button class="btn btn-link" aria-labelledby="Button">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <a class="pf-masthead__brand align-self-center" href="">
        <img src="/images/logo-alt.svg" />
        <img src="/images/brand.svg" />
      </a>
    </div>

    <div class="col-auto d-flex align-items-stretch pf-masthead__section hidden-sm-down">
      {{>components-utilities}}
    </div>

  </header>

</div>
