<div>
  <header class="pf-masthead" role="banner">
    <div class="pf-masthead__section">
      <a class="pf-masthead__skip" href="#main">Skip to main content</a>
      <div class="pf-masthead__navicon">
        <button class="btn btn-link" aria-label="Site navigation">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <a class="pf-masthead__brand" href="">
        <img class="pf-masthead__brand__icon" src="/images/logo-alt.svg" alt="" /><img src="/images/brand.svg" alt="PatternFly Enterprise Application" />
      </a>
    </div>
    <nav class="pf-masthead__section pf-masthead__utilities" role="navigation" aria-label="Utilities navigation">
      {{>components-utilities}}
    </nav>
  </header>
</div>
