<div class="pf-view-selector"> <!-- toolbar-pf-view-selector -->
  <button class="btn btn-link">
    {{> basics-icon iconFamily="fa" iconName="fa-th"}}
  </button>
  <button class="btn btn-link btn-link--active active">
    {{> basics-icon iconFamily="fa" iconName="fa-th-large"}}
  </button>
  <button class="btn btn-link">
    {{> basics-icon iconFamily="fa" iconName="fa-th-list"}}
  </button>
</div>
