<div class="pf-view-selector" role="group" aria-label="View selector">
  {{> basics-button-icon btnText="" btnClass="btn-link pf-view-selector__btn-link" iconFamily="fa" iconName="fa-th" iconModifier="" ariaLabeledBy="Table View"}}
  {{> basics-button-icon btnText="" btnClass="btn-link pf-view-selector__btn-link active" iconFamily="fa" iconName="fa-th-large" iconModifier="" ariaLabeledBy="Card View"}}
  {{> basics-button-icon btnText="" btnClass="btn-link pf-view-selector__btn-link" iconFamily="fa" iconName="fa-th-list" iconModifier="" ariaLabeledBy="List View"}}
</div>
