<p class="figure-caption"><strong>Columns</strong> This example is using bootstrap wrapper .card-columns</p>
<div class="card-columns">
  {{> components-card cardTitleSize="h2" cardTitle="First card" cardContents="<strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires" textcenter=true cardTitleIconLarge=true }}
  {{> components-card cardTitleSize="h2" cardTitle="Second card" cardContents="<strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires" textcenter=true cardTitleIconLarge=true }}
  {{> components-card cardTitleSize="h2" cardTitle="Third card" cardContents="<strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires" textcenter=true cardTitleIconLarge=true }}
  {{> components-card cardTitleSize="h2" cardTitle="Fourth card" cardContents="<strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires" textcenter=true cardTitleIconLarge=true }}
  {{> components-card cardTitleSize="h2" cardTitle="Fifth card" cardContents="<strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires" textcenter=true cardTitleIconLarge=true }}
  {{> components-card cardTitleSize="h2" cardTitle="Sixth card" cardContents="<strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires" textcenter=true cardTitleIconLarge=true }}
</div>

<p class="mt-pf-xxxl figure-caption"><strong>Groups</strong> This example is using bootstrap wrapper .card-group</p>
<div class="card-group">
  {{> components-card cardTitleSize="h3" cardTitle="Title" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." multiselect=true }}
  {{> components-card cardTitleSize="h3" cardTitle="Second card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." multiselect=true }}
  {{> components-card cardTitleSize="h3" cardTitle="Third card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." multiselect=true }}
  {{> components-card cardTitleSize="h3" cardTitle="Fourth card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." multiselect=true }}
</div>
<div class="card-group">
  {{> components-card cardTitleSize="h3" cardTitle="Fifth card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." multiselect=true }}
  {{> components-card cardTitleSize="h3" cardTitle="Sixth card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." multiselect=true }}
</div>

<p class="mt-pf-xxxl figure-caption"><strong>Deck</strong> This example is using bootstraps wrapper .card-deck</p>
<p class="figure-caption">These cards also include the text-xs-center class.</p>

<div class="card-deck">
  {{> components-card cardTitleSize="h3" cardTitle="Title" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardKebab=true }}
  {{> components-card cardTitleSize="h3" cardTitle="Second card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardKebab=true  }}
  {{> components-card cardTitleSize="h3" cardTitle="Third card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardKebab=true  }}
  {{> components-card cardTitleSize="h3" cardTitle="Fourth card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardKebab=true  }}
</div>
<div class="card-deck">
  {{> components-card cardTitleSize="h3" cardTitle="Fifth card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardKebab=true  }}
  {{> components-card cardTitleSize="h3" cardTitle="Sixth card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardKebab=true  }}
</div>

<p class="mt-pf-xxxl figure-caption"><strong>Grid</strong> This example is using our current application of .col-sm-4 etc... classes per card. </p>
<p class="figure-caption">These cards also include the text-xs-center class.</p>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card cardTitleSize="h4" cardTitle="First Card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardTitleIconMedium=true }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card cardTitleSize="h4" cardTitle="Second Card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardTitleIconMedium=true }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card cardTitleSize="h4" cardTitle="Third Card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardTitleIconMedium=true }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card cardTitleSize="h4" cardTitle="Fourth Card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardTitleIconMedium=true }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card cardTitleSize="h4" cardTitle="Fifth Card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardFooter=true cardFooterContents="Card Footer" }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card cardTitleSize="h4" cardTitle="Sixth Card" cardContents="Lorem ipsum dolor sit amet <a href> More Information</a>." textcenter=true cardHeader=true cardHeaderContents="Card Header" }}
  </div>
</div>

<p class="mt-pf-xxxl figure-caption"><strong>Grid</strong> This example is using our current application of .col-sm-4 etc... classes per card. </p>
<p class="figure-caption">These cards also include the text-xs-center class.</p>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card-heading cardTitleSize="h4" cardTitle="First Card" textcenter=true cardTitleIconLarge=true }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card-heading cardTitleSize="h4" cardTitle="Second Card" textcenter=true cardTitleIconMedium=true }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card-heading cardTitleSize="h4" cardTitle="Third Card" textcenter=true isCardHeader=true }}<p class="card-text"><strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires</p></div></div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card-heading cardTitleSize="h4" cardTitle="Fourth Card" textcenter=true cardHeader=true cardKebab=true }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card-heading cardTitleSize="h4" cardTitle="Fifth Card" textcenter=true cardKebab=true isCardHeader=true }}<p class="card-text"><strong>Created On</strong> 2015-03-01 02:00 AM<br />Never Expires</p>{{> components-card-footer isCardFooter=true cardFooter=true cardFooterContents="Card footer." }}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    {{> components-card-heading cardTitleSize="h4" cardTitle="Sixth Card" textcenter=true multiselect=true }}
  </div>
</div>
