//
// View Selector component
//

.pf-view-selector__btn-link {
  color: $color-pf-black-900;
  font-size: $font-size-relative-base;
  padding: 0;
  &:active,
  &:focus,
  &:hover { color: $link-color; }
}

.pf-view-selector__btn-link--active {
  color: $link-color;
  cursor: default;
}
