//
// Component Masthead
//

.pf-masthead {
  background: $color-pf-black-1000;
  border-top: 4px solid $color-pf-blue-300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: ($grid-gutter-width-base / 2);
  padding-left: ($grid-gutter-width-base / 2);
  padding-top: $pf-spacer-xxxs;
  padding-bottom: $pf-spacer-xxxs;
}

// This div goes to the left
.pf-masthead__brand{
}

// This div goes to the right
.pf-masthead__utilities{

  .nav{
      font-size: .9em;
      display: flex;
      .nav-item + .nav-item,
      .nav-link + .nav-link {
        margin-left: 0;
      }
  }
}

// this is the list itself:
.pf-utilities {

//  align-items: center;
}


.pf-utilities__link{
  color: $color-pf-black-300;
  border-left: 1px solid $color-pf-black-700;
//  margin: 0;
  padding-left: $pf-spacer-xxs;
  padding-right: $pf-spacer-xxs;
}
