//
// Alerts
// --------------------------------------------------

.alert {
  display: flex;

  .alert-link {
    color: $link-color;
    @include hover-focus {
      color: $link-hover-color;
    }
  }
}

.pf-alert__icon {
  font-size: $pf-alert-icon-font-size;
  margin-right: $spacer;
}

.pf-alert__text {
  flex-grow: 1;
}

.alert-dismissible {
  .close {
    order: 1;
    top: 0;
    margin-left: $spacer;
    opacity: $pf-opacity-dark;

    @include hover-focus {
      opacity: 1;
    }
  }
}
