<h1 class="h1">Example heading {{> components-badge badgeText="default" badgeClass="badge-default" }}</h1>
<h2 class="h2">Example heading {{> components-badge badgeText="default" badgeClass="badge-default" }}</h2>
<h3 class="h3">Example heading {{> components-badge badgeText="default" badgeClass="badge-default" }}</h3>
<h4 class="h4">Example heading {{> components-badge badgeText="default" badgeClass="badge-default" }}</h4>
<h5 class="h5">Example heading {{> components-badge badgeText="default" badgeClass="badge-default" }}</h5>
<h6 class="h6">Example heading {{> components-badge badgeText="default" badgeClass="badge-default" }}</h6>

{{> components-badge badgeText="primary" badgeClass="badge-primary" }}
{{> components-badge badgeText="success" badgeClass="badge-success" }}
{{> components-badge badgeText="info" badgeClass="badge-info" }}
{{> components-badge badgeText="warning" badgeClass="badge-warning" }}
{{> components-badge badgeText="danger" badgeClass="badge-danger" }}
{{> components-badge badgeText="dismissable badge" badgeClass="badge-info" badgeDismissable="true"}}
