<!-- Can't get an element from listitems to come in as a parameter to another element (basics-tag here) -->
<!-- right now, basics-tag has been changed to try and use the listitems data instead of its paramaeter -->
<ul>
  {{# listitems.five }}
    <li> this is a word: {{ word }}</li> <!-- this works to get the data -->
    <li class="list-inline-item">
      {{> basics-filter tagText="word" tagClass="tag-info" tagDismissable="true" }} <!-- this doesn't work to get the data -->
    </li>
  {{/ listitems.five }}
</ul>
