<div class="container container-fluid pf-alt-background">

  <div class="row">
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-medium }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-icon-large }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-accent }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-accent }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-accent }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-accent }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-kebab }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-kebab }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-kebab }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-kebab }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-footer }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-footer }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-footer }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-footer }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-footer-dropdown }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-footer-dropdown }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-footer-dropdown }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-footer-dropdown }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-header }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-header-kebab }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header-kebab }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header-kebab }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header-kebab }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-header-dropdown }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header-dropdown }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header-dropdown }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-header-dropdown }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card singleselect=true cardTitleSize="h4" cardTitle="Shorter Title" cardContents="This card has a header and a dropdown menu in the header." cardHeader=true cardHeaderDropdown=true }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card singleselect=true selected=true cardTitleSize="h4" cardTitle="Shorter Title" cardContents="This card has a header and a dropdown menu in the header." cardHeader=true cardHeaderDropdown=true }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card singleselect=true cardTitleSize="h4" cardTitle="Shorter Title" cardContents="This card has a header and a dropdown menu in the header." cardHeader=true cardHeaderDropdown=true }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card singleselect=true cardTitleSize="h4" cardTitle="ReallyLongTitleWithNoSpaces" cardContents="This card has a header and a dropdown menu in the header." cardHeader=true cardHeaderDropdown=true }}
    </div>


    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect-header }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card cardTitle="Card with Checkbox and Header" cardContents="When cards when headers are enabled for multiselection, the checkbox displays in the header." multiselect=true selected=true cardHeader=true}}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect-header }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect-header }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card cardTitleSize="h3" cardTitle="ReallyLongTitleWithNoSpaces" cardContents="This card has a checkbox, for cases when a card view supports multiselection" selected=true multiselect=true }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card-multiselect }}
    </div>

    <div class="col-md-3 col-sm-4">
      {{> components-card noTitle=true cardContents="This card has no title, just in case" selected=true multiselect=true }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card noTitle=true cardContents="This card has no title, just in case" multiselect=true }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card noTitle=true cardContents="This card has no title, just in case" multiselect=true }}
    </div>
    <div class="col-md-3 col-sm-4">
      {{> components-card noTitle=true cardContents="This card has no title, just in case" multiselect=true }}
    </div>

  </div>

</div>