<form class="form-inline">

  <label class="sr-only" for="example-inline-input-email">Email</label> {{> basics-input formInputModifierClass="mr-pf-sm" formLabel="Email" formInputType="email" formInputPlaceholder="email" formInputId="example-inline-input-email" }}

  <label class="sr-only" for="example-inline-input-password">Password</label> {{> basics-input formInputModifierClass="mr-pf-sm" formLabel="Password" formInputType="password" formInputPlaceholder="password" formInputId="example-inline-input-password"}}
  {{> basics-button btnType="submit" btnText="Sign In" btnClass="btn-primary" }}

</form>