<form class="form-inline">

  <label class="sr-only" for="email">Email</label>
  {{> basics-input formInputModifierClass="mr-pf-sm" formLabel="Email" formInputType="email" formInputPlaceholder="email"}}

  <label class="sr-only" for="password">Password</label>
  {{> basics-input formInputModifierClass="mr-pf-sm" formLabel="Password" formInputType="password" formInputPlaceholder="password"}}

  {{> basics-button btnType="submit"  btnText="Sign In" btnClass="btn-primary" }}

</form>
