<div class="container-fluid">
  <!-- Don't duplicate the container class, you probably already have a
  container wrapper  -->
  <form>

    {{> basics-form-group formRightAligned=true formStaticControl=true
    formLabel="Email" formStaticControlText="example@patternfly.org" }}

    {{> basics-form-group formRightAligned=true formLabel="Password"
    formInputType="password" formInputId="example-input-static" }}

  </form>

</div>
