<form>

  {{> basics-form-group formLabel="Email" formInputType="email" }}
  {{> basics-form-group formLabel="Password" formInputType="password" }}

  {{> basics-form-group formTextarea=true formLabel="Example textarea" }}


  {{> basics-form-group formSelect=true formLabel="Example select" }}


  {{> basics-form-group formInputClass="form-control-file" formLabel="File Input" formInputType="file" formHelp=true formHelpId="fileHelpBlock" formHelpText="This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line." }}

  <div class="form-group">
      {{> basics-checkbox formLabel="Remember me" }}
  </div>

  <div class="form-group">
      {{> basics-button btnType="submit"  btnText="Sign In" btnClass="btn-primary" }}
  </div>

</form>
