<h1 class="h1 mb-spacer-md">Heading Level 1</h1>
<h2 class="h2 mb-spacer-md">Heading Level 2</h2>
<h3 class="h3 mb-spacer-md">Heading Level 3 <small class="text-muted">With faded secondary text</small></h3>
<h4 class="h4 mb-spacer-md">Heading Level 4</h4>
