{{!-- pfTabsAsPrimary - displays the menu as the Patternfly style rather than default tab style tabsDropdown - adds a tab with a dropdown tabsDropdownActive - shows the dropdown tab menu open if true tabsSecondaryLevel - adds a secondary level menu tabstabsSecondaryDropdown
- adds a dropdown tab to the secondary menu tabsSecondaryDropdownActive - shows the dropdown open if true --}}

<ul class="pf-secondary-nav" role="tablist">
  <li class="pf-secondary-nav__item">
    <a href="#" role="tab" class="pf-secondary-nav__link" aria-selected="true">Secondary Tab One</a>
  </li>
  <li class="pf-secondary-nav__item">
    <a href="#" role="tab" class="pf-secondary-nav__link">Secondary Tab Two</a>
  </li>
  <li class="pf-secondary-nav__item">
    <a href="#" role="tab" class="pf-secondary-nav__link">Secondary Tab Three</a>
  </li>
  <li class="pf-secondary-nav__item">
    <a href="#" role="tab" class="pf-secondary-nav__link" aria-disabled="true">Secondary Tab Disabled</a>
  </li>
  <li class="pf-secondary-nav__item">
    <a href="#" role="tab" class="pf-secondary-nav__link">Secondary Tab Five</a>
  </li>
</ul>