<li class="nav-item {{liClass}} {{#if dropdown}}show{{/if}}">
    <a class="nav-link {{#if active}}active{{/if}} {{aClass}} {{#if dropdown}}dropdown-toggle{{/if}}" href="#" {{#if dropdown}}data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="true"{{/if}}>
      {{#if @partial-block}}
        {{> @partial-block}}
      {{else}}
        {{{linkText}}}
      {{/if}}
    </a>
    {{#if dropdown}}
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
    {{/if}}
</li>
