{{!--
pfTabsAsPrimary - displays the menu as the Patternfly style rather than default tab style
tabsDropdown - adds a tab with a dropdown
tabsDropdownActive - shows the dropdown tab menu open if true
tabsSecondaryLevel - adds a secondary level menu
tabstabsSecondaryDropdown - adds a dropdown tab to the secondary menu
tabsSecondaryDropdownActive - shows the dropdown open if true
--}}

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" {{#unless tabsDropdown }}aria-selected="true"{{/unless }}><a href="#" role="tab" class="nav-link {{#unless tabsDropdown }}active{{/unless }}">Tab One</a></li>
    <li class="nav-item"><a href="#" role="tab" class="nav-link">Tab Two</a></li>
    <li class="nav-item"><a href="#" role="tab" class="nav-link">Tab Three</a></li>
    <li class="nav-item"><a href="#" role="tab" class="nav-link disabled">Disabled</a></li>
    <li class="nav-item"><a href="#" role="tab" class="nav-link">Tab Five</a></li>

    {{#if tabsDropdown }}
    <li class="nav-item dropdown {{#if tabsDropdownActive }}show{{/if }}">
      <a class="nav-link dropdown-toggle active"
      role="button"
      aria-haspopup="true"
      aria-expanded="true"
      data-toggle="dropdown"
      href="#">
      Dropdown
    </a>
    <div class="dropdown-menu" role="menu">
      <a class="dropdown-item">Action</a></a>
      <a class="dropdown-item">Another action</a></a>
      <a class="dropdown-item">Something else here</a></a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item">Separated link</a></a>
    </div>
  </li>
  {{/if }}

  </ul>
