
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h3>PatternFly Typography</h3>

      <p>Patternfly uses Overpass, an open-licensed alternative to Interstate that is specifically for use on-screen and in our software. Like Interstate, Overpass is based on the FHWA (Federal Highway Administration) series of fonts, which has been used for US Highway signage since 1945. <a href="#">Download Overpass »</a></p>

      <p>Overpass can be used in a lot of the same ways as Interstate. We use Overpass for all web text, editable presentations, and product interfaces.</p>

      <table class="table">
        <tbody>
          <tr>
            <td class="py-1"><h1 class="m-0">Heading 1</h1></td>
            <td class="py-1"><h1 class="m-0">Overpass Light 28px</h1></td>
            <td class="py-1"><h1 class="m-0">Weight 400</h1></td>
          </tr>
          <tr>
            <td class="py-1"><h2 class="m-0">Heading 2</h2></td>
            <td class="py-1"><h2 class="m-0">Overpass Light 24px</h2></td>
            <td class="py-1"><h2 class="m-0">Weight 400</h2></td>
          </tr>
          <tr>
            <td class="py-1"><h3 class="m-0">Heading 3</h3></td>
            <td class="py-1"><h3 class="m-0">Overpass Light 20px</h3></td>
            <td class="py-1"><h3 class="m-0">Weight 400</h3></td>
          </tr>
          <tr>
            <td class="py-1"><h4 class="m-0">Heading 4</h4></td>
            <td class="py-1"><h4 class="m-0">Overpass Semi Bold 16px</h4></td>
            <td class="py-1"><h4 class="m-0">Weight 600</h4></td>
          </tr>
          <tr>
            <td class="py-1"><p class="m-0">Body Content</p></td>
            <td class="py-1"><p class="m-0">Overpass Regular 14px</p></td>
            <td class="py-1"><p class="m-0">Weight 500</p></td>
          </tr>
          <tr>
            <td class="py-1"><p class="m-0"><strong>Body Content Bold</strong></p></td>
            <td class="py-1"><p class="m-0"><strong>Overpass Regular 14px</strong></p></td>
            <td class="py-1"><p class="m-0"><strong>Weight 700</strong></p></td>
          </tr>
          <tr>
            <td class="py-1"><p class="m-0"><small>Small Text</small></p></td>
            <td class="py-1"><p class="m-0"><small>Overpass Regular 12px</small></p></td>
            <td class="py-1"><p class="m-0"><small>Weight 500</small></p></td>
          </tr>
        </tbody>
      </table>


      <h3>Application Heading 3</h3>

      <h4>Subheading Heading 4</h4>

      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

      <p>Below are some samples of common typographic layouts. Check out more samples on our PatternFly Typography test page</p>

      <p><small>This line of small text is meant to be treated as fine print.</small></p>
      <p>The following snippet of text is <strong>rendered as bold text.</strong></p>
      <p>The following snippet of text is <em>rendered as italicized text.</em></p>
      <p>The following snippet of text is <a href="#">rendered as link text.</a></p>
    </div>

    <div class="col-md-4">
      <h4>Unordered List</h4>
      <ul>
        <li>Lorem ipsum</li>
        <li>Consectetur
          <ul>
            <li>Phasellus</li>
            <li>Purus</li>
            <li>Faucibus</li>
          </ul>
        </li>
        <li>Aenean sit</li>
      </ul>
    </div>

    <div class="col-md-4">

      <h4>Ordered List</h4>
      <ul>
        <li>Lorem ipsum</li>
        <li>Consectetur</li>
        <li>Phasellus</li>
        <li>Purus</li>
        <li>Faucibus</li>
        <li>Aenean sit</li>
      </ul>
    </div>

    <div class="col-md-4">

      <h4>Unstyled List</h4>
      <ul class="list-unstyled">
        <li>Lorem ipsum</li>
        <li>Consectetur
          <ul>
            <li>Phasellus</li>
            <li>Purus</li>
            <li>Faucibus</li>
          </ul>
        </li>
        <li>Aenean sit</li>
      </ul>

    </div>

  </div>

</div>
