<div class="mt-spacer-xxxl mb-spacer-xs p-spacer-sm bg-primary text-white">
  <p class="py-spacer-xl pl-spacer-md mb-spacer-md bg-info text-white">
    This paragraph has a lg padding to the top and right and an xl padding to the left as well as a md margin to the bottom and it's inside a div that has an xxxl margin to the top, xs to the bottom and a sm padding around.
  </p>
</div>
