<div class="row pf-toolbar">
    <ul class="list-inline pf-toolbar__group">
      <div class="pf-toolbar__group__item"><!-- this dropdown needs to be inline -->{{> basics-dropdown dropdownText= "Name" btnClass="btn-secondary" }}{{> basics-input}}</div>
      <div class="pf-toolbar__group__item">{{> basics-dropdown dropdownText= "Name" btnClass="btn-secondary" }}</div>
      <div class="pf-toolbar__group__item">buttons</div>
    </ul>

    <div class="pf-toolbar__group">
      <div class="pf-toolbar__group__item">
        {{> basics-icon-button btnText="" btnClass="btn-link" iconFamily="fa" iconName="fa-search" iconModifier="" ariaLabeledBy="Search"}}
      </div>
      <div class="pf-toolbar__group__item">
        {{> components-view-selector }}
      </div>
    </div>
</div><!-- /row -->
