<div class="row pf-toolbar">
    <div class="pf-toolbar__group">
      <span>{{> basics-dropdown dropdownText= "Name" btnClass="btn-secondary" }}{{> basics-input}}
</span>
      <span>{{> basics-dropdown dropdownText= "Name" btnClass="btn-secondary" }}
</span>
      <span>buttons</span>
    </div>

    <div class="pf-toolbar__group">
      {{> basics-icon-button btnText="" btnClass="btn-link" iconFamily="fa" iconName="fa-search" iconModifier="" ariaLabeledBy="Search"}}
      {{> components-view-selector }}
    </div>
</div><!-- /row -->
