<div class="pf-toolbar">

<div class="pf-toolbar__group">
  <div class="pf-toolbar__group-item">
    first
  </div>
  <div class="pf-toolbar__group-item">
    second
  </div>
  <div class="pf-toolbar__group-item pf-toolbar__group-item--delimited">
    third
  </div>

</div>
<div class="pf-toolbar__group">
  <div class="pf-toolbar__group-item">
    next to last
  </div>
  <div class="pf-toolbar__group-item pf-toolbar__group-item--delimited">
    last one
  </div>

</div>

</div><!-- /pf-toolbar -->
