<h1>Example heading {{> basics-badge badgeText="default" badgeClass="badge-default" }}</h1>
<h2>Example heading {{> basics-badge badgeText="default" badgeClass="badge-default" }}</h2>
<h3>Example heading {{> basics-badge badgeText="default" badgeClass="badge-default" }}</h3>
<h4>Example heading {{> basics-badge badgeText="default" badgeClass="badge-default" }}</h4>
<h5>Example heading {{> basics-badge badgeText="default" badgeClass="badge-default" }}</h5>
<h6>Example heading {{> basics-badge badgeText="default" badgeClass="badge-default" }}</h6>

{{> basics-badge badgeText="primary" badgeClass="badge-primary" }} {{> basics-badge badgeText="success" badgeClass="badge-success" }} {{> basics-badge badgeText="info" badgeClass="badge-info" }} {{> basics-badge badgeText="warning" badgeClass="badge-warning"
}} {{> basics-badge badgeText="danger" badgeClass="badge-danger" }} {{> basics-badge badgeText="dismissable badge" badgeClass="badge-info" badgeDismissable="true"}}